---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Objekte suchen - Lost and Found Web" active="objekte">
    <div class="mx-auto max-w-screen-lg px-4">
        <h1>Verlorene Objekte suchen</h1>
        <p>Hier können Sie nach verlorenen Gegenständen suchen.</p>
    </div>
</Layout>